@model WebSiteRestaurant.Models.Data.Category

@{
    ViewData["Title"] = "Категории";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"><a asp-controller="Categories" asp-action="Index">Категории</a></li>
        <li class="breadcrumb-item active">Просмотр</li>
    </ol>
</nav>

<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Просмотр категории
</h3>

<div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
